.container {
    width: 100vw;
    height: 70vh;
    background: #373B44;
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);
    background: linear-gradient(to right, #4286f4, #373B44);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    margin: 0 20px 30px 20px;
    text-align: center;
    padding-top: 10px;
    font-size: 60px;
    border-bottom: 5px solid #fff;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content .info {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content .info h2 {
    font-size: 40px;
}

.content .info h3 {
    margin-top: 10px;
    font-size: 25px;
}

.content .description {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .description h3 {
    margin-bottom: 10px;
    font-size: 25px;
}

.content .description p {
    text-align: justify;
    margin: 0 60px;
}

/***** responsiviness *****/
@media (max-width: 1024px) {
    .content .description {
        display: none;
    }

    .content .info {
        width: 100%;
    }
}

@media (max-width: 432px) {
    .content .info {
        margin: 0 20px;
    }

    .container h1 {
        font-size: 45px;
    }
    
    .container .info h2 {
        font-size: 40px;
    }

    .container .info h3 {
        font-size: 20px;
    }
}

@media (max-width: 275px) {
    .container h1 {
        font-size: 35px;
    }
    
    .container .info h2 {
        font-size: 30px;
    }

    .container .info h3 {
        font-size: 15px;
    }
}